html{
    /* font-size: 10px; */
    background-color: rgb(26, 7, 83);
    background-size: cover;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 10%;
    font-size: 3rem;
    text-shadow: #ffc600;
}

h1:hover {
    text-shadow: 0 0 5px #ffc600,
    0 0 10px #fff, 0 0 15px #0073e6,
    0 0 20px #0073e6, 0 0 25px #0073e6;    ;
}

.heading{
    width: 50%;
    margin: 5% auto;    
}

.row{
    /* margin: 30rem 50rem; */
    margin: auto;
}

.keys {
    display: flex;
    flex: 1;
    flex-wrap:wrap;
    min-height: 100 vh;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 70px 70px;
    grid-template-rows: 20px 20px;
    grid-column-gap: 20px ;
    grid-row-gap: 20px; */
}

.kbd {
    font-size: 500px;
}

.key{
    flex-wrap: wrap;
    color: white;
    border: .2rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .5s ease;
    width: 10rem;
    text-align: center;
    background: rgba(0, 0,0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.kbd {
    display: block;
    font-size: 1.2rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

.inputbox {
    /* position: center; */
    margin: 10px auto;
    width: 30%;
    border-bottom: 1px solid #fff;
    align-items: center;
    text-align: center;
}


.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1 rem;
    padding: 0 35px 0 5px;
    color: #fff;

}

  @media (max-width: 500px) {
    /* For mobile phones: */
    .row {
      /* width: 100%; */
      margin: auto;
      justify-content: center;
    }

    .keys{
        min-height: 50vh;
        /* margin-top: 30%; */
    }

    .heading{
        margin: 15% auto;
    }
    .inputbox{
        width: 60%;
    }

    .key{        
        border: .2rem solid black;
        border-radius: 0.5rem;
        margin: 0.2rem;
        font-size: .5rem;
        padding: .5rem ;
        transition: all .5s ease;
        width: 3.5rem;
        text-align: center;
        background: rgba(0, 0,0, 0.4);
        text-shadow: 0 0 .5rem black;
    }

    .sound {
        font-size: .5rem;
      }    
  }
